# Trim Area QMI service
service vendor.ta_qmi_service /vendor/bin/ta_qmi_service
    class core
    user root
    group root system wakelock
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
