# OSS WLAN and BT MAC setup
service macaddrsetup /vendor/bin/macaddrsetup
    class core
    user system
    group system bluetooth wifi
    disabled
    oneshot

on property:vold.post_fs_data_done=1
    # Generate Bluetooth MAC address file only when /data is ready
    start macaddrsetup

